

%h2 Register as a Site Manager

%p Select this option if you have a site that you promote, if you are looking to buy backlinks, and if you are looking to spend (not make) money using this service.

%p In this demo, the second (next) step where you put in your credit card info is not necessary and you can skip it. Also none of the fields are verified.

= form_tag({:action => :process_registration}) do

  .field
    Username
    = text_field_tag 'actor[username]'

  .field
    Email
    = text_field_tag 'actor[email]'

  .field
    Password
    = password_field_tag 'actor[password]'
  .field
    Confirm Password
    = password_field_tag 'actor[password_confirm]'

  .action
    = submit_tag 'Continue'