

%h2 Dashboard of Builder


%h3 My projects
- if @my_projects.blank?
  No Projects
- else
  - @my_projects.each do |p|
    = link_to 'Add Links', :controller => :projects, :action => :add_links, :_id => p._id.to_s
    = link_to 'Project', :controller => :projects, :action => :show, :_id => p._id.to_s
    url: 
    = link_to p.url, p.url
    keywords:
    = p.keywords
    Quantity:
    = p.quantity
    
    
    %br