
.pages_home

  %a{:name => 'service' }
  .presentation-slide
    %h2 Service
    .height-100
    .span-12
      .align-right.float-right
        .square-picture
    .span-8
      %h3 Opcoes is the service for building and maintaining reliable backlinks.
    .span-4.last
      &nbsp;
    .clear
    .height-50
    %ul.center.numbers
      %li 1,000 providers
      %li 40,000 links
      %li 20 projects
    .height-50 &nbsp;
    %ul.center.tour
      %li= link_to 'How it works', '#how_it_works', :class => 'how_it_works'
      %li= link_to 'Pricing', '#pricing', :class => 'pricing'
      %li= link_to 'Register', '/register'
    .height-100

  %a{:name => 'how_it_works' }
  .presentation-slide
    %h2 How it works
    = render 'how_it_works', :text => 'As the manager, first set up your account'
    = render 'how_it_works', :text => 'Start a task: URL, anchor words, number of links [commit to buy]'
    = render 'how_it_works', :text => 'Our providers fulfill the task. You can monitor the progress on the dashboard'
    = render 'how_it_works', :text => 'Inevitably, some of the links go down. Our system detects that and sends the task back to providers. Therefore the needed number of links is maintained.'
  .clear
  
  %a{:name => 'pricing' }
  .presentation-slide
    %h2 Pricing
    %p We offer backlinks at $0.5 per month. That means that for e.g. $10/mo you will have 20 backlinks that are guarantee to be up.
    .height-100
    %ul.center.tour
      %li= link_to 'Start Building', '/register'
  .clear

  .height-300

.menu-anchor.menu-bordered.menu
  %ul
    %li= link_to 'Top', '#', :class => 'top'
    %li= link_to 'How it works', '#how_it_works', :class => 'how_it_works'
    %li= link_to 'Pricing', '#pricing', :class => 'pricing'
    %li= link_to 'Register', '/register'