

%h2 Opcoes

%p Opcoes Is a service that lets you purchase reliably, and verify, backlinks.

%ul
  %li= link_to 'Tour', :action => 'tour'
  %li= link_to 'Login', :action => 'login'
  %li
    Register...
    %ul
      %li= link_to '...as a Site Manager', :controller => :manager, :action => :register
      %li= link_to '...as a Link Builder', :controller => :builder, :action => :register

%ul
  %li
    List of...
    %ul
      %li= link_to '...Link Builders', :controller => :builder, :action => :index
      %li= link_to '...Managers', :controller => :manager, :action => :index