

= form_for @project do |ff|
  .relative.float-left.margin-right
    = label :project, :url
    = ff.text_field :url, :size => nil
  .relative.float-left.margin-right
    = label :project, :keywords
    = ff.text_field :keywords, :size => nil
  .relative.float-left.margin-right
    = label :project, :quantity
    = ff.text_field :quantity, :size => nil
  .relative.float-left
    = ff.submit 'Start Task!'
  .clear