

= form_tag '/projects' do |ff|
  .relative
    = label :project, :url
    = text_field_tag 'project[url]'
    = label :project, :keywords
    = text_field_tag 'project[keywords]'
    = label :project, :quantity
    = text_field_tag 'project[quantity]'
    = submit_tag 'Start!'