
- unless defined? delta
  - delta = ''

.project-item
  .url= link_to project.url, project_path(project)
  .keywords= project.keywords
  .quantity
    %span.has= project.quantity_completed
    \/
    %span.needed= project.quantity
  .view
    = link_to 'View', project_path(project)
    - if delta == 'take'
      &nbsp;|&nbsp;
      = take_project_link(project)
    - if delta == 'build'
      &nbsp;|&nbsp;
      = build_links_link(project)
.clear