

%h4
  Add links to
  = @project[:url]
  %br
  with keywords
  %u
    = @project[:keywords]

= form_tag({:action => :process_add_links, :_id => @project[:_id].to_s}) do
  - (0...@project[:quantity]).each do |i|
    .field
      url
      = text_field_tag "links[#{i.to_s}]"

  .action
    = submit_tag 'Done!'
