!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h5
      Builder 
      = session[:builder][:username]
      [
      = link_to 'Logout', :controller => :pages, :action => :logout
      ]
    %ul
      %li= link_to 'Dashboard home', :controller => :builder, :action => :dashboard
    = yield
