!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header.span-24
        .menu
          %ul
            - if actor_signed_in?
              %li= sign_out_link
              %li= link_to 'Dashboard', dashboard_path
            - else
              %li= link_to 'Sign In', sign_in_path
              %li= link_to 'Register', register_path
        .logo= link_to 'Opções', '/' 
        .clear

      .content
        .height-50
        .clear
        - unless notice.nil?
          .notice= notice
        - unless alert.nil?
          .alert= alert
        = yield

      .clear
      .footer.menu
        .span-1
          &nbsp;
        .span-7.menu-bordered
          &nbsp;
        .span-8.menu-bordered
          %ul
            %li= link_to 'Home', '/'
            %li= link_to 'About Us', about_us_path
            %li= link_to 'Privacy Policy', privacy_policy_path
        .span-8.last
          &nbsp;
        .clear
        .span-24
          .copyright
            Copyright &copy; 2012 CAC
        .height-100
    = render 'analytics'