!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header.span-24
        .menu
          %ul
            - if session[:manager].blank? && session[:builder].blank?
              %li= link_to 'Sign In', '/sign-in'
              %li= link_to 'Register', :controller => :manager, :action => :register
            - elsif !session[:manager].blank?
              %li= link_to 'Dashboard', :controller => :manager, :action => :dashboard
            - elsif !session[:builder].blank?
              %li= link_to 'dashboard', :controller => :builder, :action => :dashboard
        .logo= link_to 'Opções', '/' 
        .clear

      .content
        - if notice
          .notice= notice
        - if alert
          .alert= alert
        = yield

      .clear
      .footer.menu
        .span-1
          &nbsp;
        .span-7.menu-bordered
          %ul.hide
            %li= link_to 'to Top', '#'
            %li= link_to 'List Projects', :controller => :projects, :action => :index
            %li= link_to 'List Builders', :controller => :builder, :action => :index
            %li= link_to 'List Managers', :controller => :manager, :action => :index
          &nbsp;
        .span-8.menu-bordered
          %ul
            %li= link_to 'Home', '/'
            %li= link_to 'About Us', :controller => :pages, :action => :about_us
            %li= link_to 'Privacy Policy', :controller => :pages, :action => :privacy
        .span-8.last
          &nbsp;
        .clear
        .span-24
          .copyright
            Copyright &copy; 2012 CAC
        .height-100
    = render 'analytics'