!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header.span-24
        .menu
          %ul
            - if session[:manager].blank? && session[:builder].blank?
              %li= link_to 'Sign In', '/sign-in'
              %li= link_to 'Register', :controller => :manager, :action => :register
            - elsif !session[:manager].blank?
              %li= link_to 'Dashboard', :controller => :manager, :action => :dashboard
            - elsif !session[:builder].blank?
              %li= link_to 'dashboard', :controller => :builder, :action => :dashboard
        .logo= link_to 'Opções', '/' 
        .clear

      .content
        - if notice
          .notice= notice
        - if alert
          .alert= alert
        = yield

      .clear
      .footer
        .menu
          .span-8
            %ul.menu-bordered
              %li= link_to 'to Top', '#'
              %li= link_to 'List Projects', :controller => :projects, :action => :index
              %li= link_to 'List Builders', :controller => :builder, :action => :index
              %li= link_to 'List Managers', :controller => :manager, :action => :index
          .span-8
            %ul.menu-bordered
              %li= link_to 'Home', '/'
              %li= link_to 'About Us', :controller => :pages, :action => :about_us
              %li= link_to 'Privacy Policy', :controller => :pages, :action => :privacy
          .span-8.last
            %ul
              %li
                Logged in manager is
                = link_to( session[:manager][:username], :controller => :manager, :action => :dashboard ) unless session[:manager].blank?
              %li
                Logged in builder is
                = link_to( session[:builder][:username], :controller => :builder, :action => :dashboard ) unless session[:builder].blank?
            .copyright Copyright &copy; 2012 CAC
    = render 'analytics'