!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header
        .logo= link_to 'Opções', '/' 
        .menu
          %ul.main
            %li= link_to 'Home', '/'
            - unless session[:manager].blank?
              %li= link_to 'Manager Dashboard', :controller => :manager, :action => :dashboard
            - unless session[:builder].blank?
              %li= link_to 'Builder Dashboard', :controller => :builder, :action => :dashboard
          %ul.meta
            %li
              %span.menu_register_hover.relative=link_to 'Register...', '#'
              .absolute.hide.box.menu_register_content
                %ul
                  %li= link_to 'As a Link Builder', :controller => :builder, :action => :register
                  %li= link_to 'As a Site Manager', :controller => :manager, :action => :register
            %li= link_to 'Login', '/sign-in'
          .clear
        .clear

      .content
        = yield

      .clear
      .footer
        .menu
          .span-8
            %ul
              %li= link_to 'to Top', '#'
              %li= link_to 'List Projects', :controller => :projects, :action => :index
              %li= link_to 'List Builders', :controller => :builder, :action => :index
              %li= link_to 'List Managers', :controller => :manager, :action => :index
          .span-8
            %ul
              %li= link_to 'Home', '/'
              %li= link_to 'About Us', :controller => :pages, :action => :about_us
              %li= link_to 'Privacy Policy', :controller => :pages, :action => :privacy
          .span-8.last
            %ul
              %li
                Logged in manager is
                = link_to( session[:manager][:username], :controller => :manager, :action => :dashboard ) unless session[:manager].blank?
              %li
                Logged in builder is
                = link_to( session[:builder][:username], :controller => :builder, :action => :dashboard ) unless session[:builder].blank?
            .copyright Copyright &copy; 2012 CAC
    = render 'analytics'