!!!
%html
  %head
    %title Opcoes
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h5 Manager Layout
    %ul
      %li= link_to 'Dashboard home', :controller => :manager, :action => :dashboard
    = yield
